.comment {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-spacing: 0.5em !default;
  $base-accent-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  //////////////////////////////////////////////////////////////////////////////////

  $comment-gutter: 1em;
  $comment-image-padding: 0.4em;
  $comment-image-width: 6em;
  $comment-color: $base-font-color;
  $comment-background: lighten($base-accent-color, 15%);
  $comment-detail-color: transparentize($comment-color, 0.8);
  $comment-image-vert-alignment: top;

  border-top: 1px solid transparentize($comment-color, 0.9);
  border-bottom: 1px solid transparentize($comment-color, 0.9);
  display: table;
  margin: $base-spacing;
  padding: 1em;
  width: auto;
  // position: absolute; bottom:2.2em; left:0;

  .comment-image,
  .comment-content {
    display: table-cell;
    vertical-align: $comment-image-vert-alignment;
  }

  .comment-image {
    padding-right: $comment-gutter;
    img {
      // background: $comment-background;
      border-radius: $base-border-radius;
      display: block;
      max-width: none;
      max-height: none;
      // padding: $comment-image-padding;
      width: $comment-image-width;
    }

    .comment-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .comment-content {
    width: 100%;

    h1 {
      font-size: 1em;
      margin: 0 0 0.5em 0;
    }

    p {
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }

    p.comment-detail {
      color: $comment-detail-color;
      font-size: 0.9em;
      font-style: italic;
    }
  }
}

