<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Home", root_path, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <% if current_user %>
            <%= form_tag logout_path, method: :delete do %>
              <%= submit_tag "Logout" %>
            <% end %>
          <% else %>
            <%= render "users/login" %>
          <% end -%>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
</header>
